*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
    display: flex;
    width: 350px;
    height: 400px;
    border: solid 2px blue;
    padding: 20px;
    margin-left: 35px;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

  #screen {
    border: 1px solid;
    width: 340px;
    height: 60px;
    margin: 10px;
    display: inline;
    flex-basis: 100px;
  }
.button {
  width: 40px;
  height: 40px ;
  border: black solid 1px;
  /* flex: 1; */
}
