*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
    width: 350px;
    height: 420px;
    border: solid 2px blue;
    padding: 20px;
    margin-left: 35px;
}

  #panel {
    border: 1px solid;
    width: 306px;
    height: 60px;
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }

  #keys {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    gap: 5px;
    justify-content: space-between;
  }

  .btn {
    width: calc((100%) /5);
    height: 50px;
    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
    align-content: center;
  }
  
  #wide {
    flex: auto;
  }

  body {
    background-color: rgb(90, 112, 133)
  }